/*
xfce4/appfinder
xfce4/desktop
xfce4/xfconf/xfce-perchannel-xml/*

!.gitignore
!LICENSE
!README.md
!neofetch/
!xfce4/
!Thunar/
!flameshot/
!xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
!xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
!xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml
!xfce4/xfconf/xfce-perchannel-xml/xfce4-settings-editor.xml
!xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
